
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      padding: 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
      color: #ffffff; 
      overflow-x: hidden; /* Prevent horizontal scroll */
      transform-origin: 0 0;
    }

    .container {
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-color: #030303;
    }

    header {
      background-color: transparent; 
      padding: 15px 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #000000;
      flex-wrap: wrap; /* Allow wrapping */
      position: absolute; /* Position header absolutely */
      width: 100%; /* Make header width 100% */
      top: 0;
      z-index: 2; /* Ensure it's on top of the video */
    }

    .header-left {
      display: flex;
      align-items: center;
    }

    h1 {
      margin: 0;
      line-height: 1;
      display: flex;
      align-items: center;
    }

    h1 span {
      margin-left: 5px;
    }



p {
  font-size: 1.1em; /* increase the font size for paragraphs */
}

    nav {
      display: flex;
      align-items: center;
      flex-wrap: wrap; /* Allow wrapping */
    }

    nav ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      flex-wrap: wrap; /* Allow wrapping */
    }

    nav ul li {
      margin-left: 20px;
    }

    nav ul li a {
      display: block;
      padding: 5px;
      color: #000000;
      text-decoration: none;
      font-weight: bold; /* Keep the text bold if desired */
    }

    .hero-section {
      position: relative;
      height: 100vh; /* Full height for hero section */
      width: 100%;
      overflow: hidden;
    }

    .hero-section video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0; /* Place behind the text */
    }

    .text-overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: #ffffff;
      z-index: 1 ;
    }

    .text-overlay h2 {
      font-size: 55px;
      margin-bottom: 10px;
      margin-top: 10px;
      color: #000000;
    }

    .text-overlay p {
      font-size: 20px;
    }

    .content-section {
      min-height: 50vh;
      padding: 40px;
      background-color: #000000;
      text-align: center;
      z-index: 0;
      color: #ffffff;
    }

    .image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}



    .image-section img {
      max-width: 100%;
      height: auto;
    }

    footer {
      background-color: #011727;
      color: #ffffff;
      padding: 20px 10px;
      text-align: center;
    }

    footer p {
      margin: 0;
    }

    footer a {
      color: #ffffff;
      text-decoration: underline;
    }

    .social-icons {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .social-icons a {
      margin: 0 10px;
      color: #ffffff;
      font-size: 24px;
      text-decoration: none;
      transition: color 0.3s ease;
    }

    .social-icons a:hover {
      color: #00aaff;
    }

    @media (max-width: 1060px) {
      header {
        padding: 14px;
      }

      nav ul {
        justify-content: center;
      }

     

      .text-overlay {
        text-align: center;
      }

    
    }

    @media (max-width: 768px) {
      .text-overlay h2 {
        font-size: 40px;
      }

      .text-overlay p {
        font-size: 16px;
      }

      footer p {
        font-size: 14px;
      }
    }

    @media (Max-width: 398px) {
       footer p {
         font-size: 10px;
      }
    }



    @media (max-width: 587px) {
      header {
        flex-direction: column;
        align-items: center;
      }

      h1 {
        margin-bottom: 10px;
      }

      nav ul {
        justify-content: center;
        width: 100%;
      }

      nav ul li {
        margin-left: 6px;
        margin-right: 6px;
      }
    }

    
    :root {
      --font-size: clamp(12px, 2vw, 18px);
    }

    nav ul li {
      font-size: var(--font-size);
    }

    @media (max-width: 500px) {
      nav ul li {
        font-size: clamp(10px, 1.5vw, 14px);
      }
    }

    @media (min-width: 340px) {
        nav ul li {
          font-size: clamp(16px, 2vw, 20px);
        }
    }

    @media (max-width: 430px) {
        nav ul li {
            font-size: clamp(14px, 2.0vw, 15px);
        }
    }

    @media (max-width: 380px) {
        nav ul li {
            font-size: clamp(13px, 2.0vw, 14px);
        }
    }

    @media (max-width: 363px) {
        nav ul li {
            font-size: clamp(12px, 2.0vw, 13px);
        }
    }



    @media (max-width: 347px) {
        nav ul li {
            font-size: clamp(11px, 2.0vw, 12px);
        }
    }
  
    .simple-button {
      display: inline-block;
      padding: 10px 15px;
      font-size: 16px;
      color: #ffffff;
      background-color: #011727;
      text-align: center;
      text-decoration: none;
      border-radius: 20px;
      border: none;
      cursor: pointer;
      margin-top: 10px; /* Add space above the button */
    }

    .simple-button:hover {
      background-color: #01172775;
    }

 

    .content-section {
  width: 100%;
  margin: 0 auto;
  background-color: #000000;
  padding: 20px;
  box-sizing: border-box;
}


.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
}

.text-container h2 {
  font-size: 16px; /* initial font size */
  line-height: 1.2;
  color: rgb(255, 255, 255);
}

@media only screen and (min-width: 506px) {
  .content-section {
    padding: 40px;
  }
}


@media (min-width: 768px) {
  .text-container h2 {
    font-size: 38px; /* larger font size on larger screens */
  }
}

@media (min-width: 290px) {
  .text-container h2 {
    font-size: 24px; /* even larger font size on very large screens */
  }
}

.text-container p {
  font-size: 15px; /* initial font size */
}

@media (min-width: 450px) {
  .text-container p {
    font-size: 18px; /* larger font size on larger screens */
  }
}



@media (min-width: 768px) {
  .text-container p {
    font-size: 22px; /* larger font size on larger screens */
  }
}

@media (min-width: 1200px) {
  .text-container p {
    font-size: 22px; /* even larger font size on very large screens */
  }
}


@media (min-width: 1200px) {
  .image-section h2 {
    font-size: 22px; /* even larger font size on very large screens */
  }
}

@media (min-width: 400px) {
  .image-section h2 {
    font-size: 22px; /* even larger font size on very large screens */
  }
}

.image-section h2 {
  font-size: 24px; /* initial font size */
  line-height: 1.2;
}

@media (min-width: 768px) {
  .image-section h2 {
    font-size: 30px; /* larger font size on larger screens */
  }
}


.image-section video {
  width: 100%;
  height: 50vh; /* initial height */
  object-fit: cover;
  border-radius: 4px;
}

.image-section video {
  width: 100%;
  height: 300px; /* adjust the height according to your video's aspect ratio */
  object-fit: cover;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .image-section video {
    height: 60vh; /* taller on larger screens */
  }
}

@media (min-width: 1200px) {
  .image-section video {
    height: 70vh; /* even taller on very large screens */
  }
}

@media (max-width: 1144px) {
      footer p {
        font-size: 13px;
      }
    }

    @media (max-width: 498px) {
      footer p {
        font-size: 10px;
      }
    }

    @media (max-width: 2000px) {
      .text-overlay h2 {
        font-size: 46px;
      }

      .text-overlay p {
        font-size: 16px;
      }

      footer p {
        font-size: 14px;
      }
    }

 @media (max-width: 1005px) {
      .text-overlay h2 {
        font-size: 36px;
      }
 }





    
@media (max-width: 440px) {
  footer p {
    font-size: 8px;
  }
}


@media (min-width: 290px) {
      .text-container p {
        font-size: 18px; /* larger font size on very large screens */
      }
    }


    @media (min-width: 720px) {
  .text-container ol {
    font-size: 22px;
  }
}

    .image-container {
      display: flex;
      justify-content: center;
      padding: 20px;
    }

    .content-section p {
      font-size: 1.2rem;
      line-height: 1.6;
      color: #ffffff;
      margin-bottom: 20px;
    }

