
    * {
      box-sizing: border-box;
    }

    body {
      margin: 0;
      padding: 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #ffffff;
      overflow-x: hidden; /* Prevent horizontal scroll */
      overflow-y: auto; /* Allow vertical scroll */
      background-color: #000000;
    }

    .container {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    header {
      background-color: #000000;
      padding: 15px 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #ffffff;
      flex-wrap: wrap; /* Allow wrapping */
    }

    .header-left {
      display: flex;
      align-items: center;
    }

    h1 {
      margin: 0;
      line-height: 1;
      display: flex;
      align-items: center;
    }

    h1 span {
      margin-left: 5px;
    }

    nav {
      display: flex;
      align-items: center;
      flex-wrap: wrap; /* Allow wrapping */
    }

    nav ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      flex-wrap: wrap; /* Allow wrapping */
    }

    nav ul li {
      margin-left: 20px;
    }

    nav ul li:first-child {
      margin-left: 0; /* Ensure the first item doesn't have extra space on the left */
  }


    nav ul li a {
      display: block;
      padding: 5px;
      color: #ffffff;
      text-decoration: none;
      font-weight: bold; /* Keep the text bold */
    }

    nav ul li a:hover {
      color: #00aaff; /* Optional: Change color on hover */
  }

    .hero-section {
      position: relative;
      width: 100%;
      overflow: hidden;
      flex: 1;
      padding: 20px; /* Added padding */
    }

    .courses-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px; /* Added gap between boxes */
      margin: 0 auto;
      max-width: 1200px; /* Max width for larger screens */
    }

    .course-box {
      background-color: #000000;
      border: 2px solid #0088cc;
      border-radius: 20px;
      padding: 20px;
      width: calc(50% - 20px); /* Adjusted for gap */
      flex: 1;
      text-align: center;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      min-height: 200px; /* Ensure the height of the boxes is increased */
    }

    .course-box h2 {
      font-size: 24px;
      margin-bottom: 20px;
      color: #ffffff;
    }

    .course-box p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 30px;
    }

    .course-box:hover {
      transform: translateY(-10px);
      box-shadow: 0 8px 16px rgba(0, 136, 204, 1.0);
    }

    .add-to-cart-btn, .remove-from-cart-btn {
      background-color: #011727;
      color: white;
      padding: 15px 20px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      font-size: 16px;
      transition: background-color 0.3s ease;
    }

    .add-to-cart-btn:hover, .remove-from-cart-btn:hover {
      background-color: #0088cc;
    }

    .cart-summary {
      padding: 20px;
      background-color: #000000;
      border: 2px solid #000000;
      border-radius: 20px;
      text-align: center;
      margin: 20px auto;
      max-width: 600px;
    }

    .cart-summary p {
      font-size: 18px;
      margin: 10;
    }

    .empty-cart-message {
      text-align: center;
      padding: 20px;
      margin: 0 auto;
    }

    .empty-cart-message p {
      font-size: 18px;
      margin-bottom: 20px;
    }

    .empty-cart-message a {
      display: inline-block;
      background-color: #011727;
      color: white;
      padding: 10px 20px;
      border-radius: 20px;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }

    .empty-cart-message a:hover {
      background-color: #0088cc;
    }

    footer {
      background-color: #011727;
      color: #ffffff;
      padding: 20px 10px;
      text-align: center;
    }

    footer p {
      margin: 0;
    }

    footer a {
      color: #ffffff;
      text-decoration: underline;
    }

    .social-icons {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    .social-icons a {
      margin: 0 10px;
      color: #ffffff;
      font-size: 24px;
      text-decoration: none;
      transition: color 0.3s ease;
    }

    .social-icons a:hover {
      color: #00aaff;
    }

    .simple-button {
      display: inline-block;
      padding: 10px 15px;
      font-size: 16px;
      color: #ffffff;
      background-color: #011727;
      text-align: center;
      text-decoration: none;
      border-radius: 20px;
      border: none;
      cursor: pointer;
      margin-top: 10px; /* Add space above the button */
    }

    .simple-button:hover {
      background-color: #01172775;
    }

    /* Media Queries */
    @media (max-width: 1060px) {
      header {
        padding: 10px;
      }

      nav ul {
        justify-content: center;
      }
    }

    
    @media (max-width: 460px) { 
      header {
        flex-direction: column;
        align-items: center;
        margin-top: 8px;
      }

      h1 {
        margin-bottom: 10px;
      }

      nav ul {
        justify-content: center;
        width: 100%;
      }

      nav ul li {
        margin-left: 12px;
        margin-right: 12px;
      }
    }

    
    :root {
      --font-size: clamp(12px, 2vw, 18px);
    }

    nav ul li {
      font-size: var(--font-size);
    }

    @media (max-width: 500px) {
      nav ul li {
        font-size: clamp(10px, 1.5vw, 14px);
      }
    }

    @media (min-width: 340px) {
        nav ul li {
          font-size: clamp(16px, 2vw, 20px);
        }
    }

    @media (max-width: 430px) {
        nav ul li {
            font-size: clamp(16px, 2.0vw, 17px);
        }
    }

    @media (max-width: 380px) {
        nav ul li {
            font-size: clamp(15px, 2.0vw, 16px);
        }
    }

    @media (max-width: 363px) {
        nav ul li {
            font-size: clamp(14px, 2.0vw, 15px);
        }
    }



    @media (max-width: 347px) {
        nav ul li {
            font-size: clamp(13px, 2.0vw, 14px);
        }
    }

    @media (max-width: 320px) {
      nav ul li {
          font-size: clamp(11px, 2.0vw, 12px);
      }
  }


@media (max-width: 2000px) {
      .text-overlay h2 {
        font-size: 40px;
      }

      .text-overlay p {
        font-size: 16px;
      }

      footer p {
        font-size: 14px;
      }

      .courses-container {
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px; /* Remove padding-bottom to avoid gap */
      }

      .course-box {
        width: 100%;
        margin-bottom: 18px; /* Add margin to avoid gap between boxes */
      }
    }

   @media (max-width: 768px) {
      .course-box {
        width: 100%;
      }
    }

    @media (max-width: 550px) {
      .course-box {
        height: 50%;
        margin-bottom: 30px;
      }
      .courses-container {
        flex-direction: column;
        height: fit-content;
      }
    }

    @media (max-width: 379px) {
      .course-box {
        height: 50%;
        margin-bottom: 30px;
      }
      .courses-container {
        flex-direction: column;
        height: fit-content;
      }
    }



@media (max-width: 768px) {
    footer p {
        font-size: 14px;
    }
}



@media (max-width: 498px) {
    footer p {
        font-size: 10px;
    }
}



@media (max-width: 440px) {
    footer p {
        font-size: 8px;
    }
}



  













